@import '@/styles/style.scss';

.button {
  transition: all 0.3s ease;
  text-align: center;
  border-radius: 8px;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  box-sizing: border-box;

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &.primary {
    background-color: $main-color;
    color: $white;
    border: none;
  }

  &.secondary {
    background-color: $primary-5;
    color: $main-color;
    border: none;
  }

  &.ghost {
    background-color: $white;
    color: $main-color;
    border: 1.4px solid $main-color;
  }

  &.danger {
    background-color: $danger-50;
    color: $white;
    border: none;
  }

  &:disabled {
    background-color: $grayscale-30;
    color: $white;
    border: none;
  }

  &.large {
    width: 410px;
    height: 60px;
    @include title-small-b;
  }

  &.medium {
    width: 200px;
    height: 54px;
    @include title-small-b;
  }

  &.small {
    width: 122px;
    height: 54px;
    @include body-large-semibold;
  }

  &.x-small {
    width: 122px;
    height: 44px;
    @include body-large-semibold;

    &.secondary {
      background-color: $white;
      color: $grayscale-70;
      border: 1.4px solid $grayscale-70;
    }
  }

  > .button-icon {
    width: 24px;
    height: 24px;

    &.check-white::after {
      content: '';
      display: inline-block;
      background-color: currentColor;
      mask: url('@/assets/icons/icon_check.svg') no-repeat center;
      mask-size: contain;
      width: 24px;
      height: 24px;
      color: $white;
    }

    &.check-blue::after {
      content: '';
      display: inline-block;
      background-color: currentColor;
      mask: url('@/assets/icons/icon_check.svg') no-repeat center;
      mask-size: contain;
      width: 24px;
      height: 24px;
      color: $main-color;
    }

    &.plus::after {
      content: '';
      display: inline-block;
      background-color: currentColor;
      mask: url('@/assets/icons/icon_plus.svg') no-repeat center;
      mask-size: contain;
      width: 24px;
      height: 24px;
    }
  }
}
