@import '../../../styles/style.scss';

.Input > {
  .input {
    &-label > {
      .input-with-label {
      }
    }

    &-without-label {
      @include title-small;
      color: $grayscale-50;
      width: 410px;
      height: 54px;
      border: 1px solid $grayscale-30;
      border-radius: 6px;
      padding: 24px 16px;
      box-sizing: border-box;
    }
  }
}
