@import '@/styles/style.scss';

.components {
  > h1 {
    @include headline-large;
    display: block;
    margin-bottom: 30px;
  }

  > h2 {
    @include headline-medium;
    display: block;
    margin-bottom: 15px;
  }

  > .description {
    @include title-medium;
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  > .line-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
  }
}
