@import '@/styles/style.scss';

.rating {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.72px;
}

.rating img {
  width: 16px;
  height: 15.28px;
  margin-right: 4px;
}

.rating-score {
  @include body-small;
  color: $grayscale-70;
}
