@import '@/styles/style.scss';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  > section {
    display: flex;
    width: 410px;
  }

  &__section {
    &-header {
      display: flex;
      flex-direction: column;
      margin-bottom: 55px;

      > .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;

        > .title {
          @include display-medium-b;
        }

        > .description {
          @include title-small;
        }
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 32px;
      margin-bottom: 36px;

      > .form-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
      }
    }

    &-sns {
      .sns-container {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 42px;

        span {
          @include title-small;
          color: $grayscale-90;
        }

        > .sns-wrapper {
          display: flex;
          gap: 16px;

          > img:hover {
            cursor: pointer;
          }
        }
      }
    }

    &-link {
      display: flex;
      justify-content: center;

      > .link-container {
        display: flex;
        gap: 68px;

        > a {
          text-decoration: none;
          @include title-small;
          color: $grayscale-50;
          position: relative;

          &:not(:last-child)::after {
            content: '|';
            position: absolute;
            color: #8e8e8e;
            margin-left: 34px;
            cursor: default;
          }
        }
      }
    }
  }
}
