// blue
$primary-5: #f3f9ff;
$primary-10: #e1efff;
$primary-30: #b3d6ff;
$primary-50: #0474f3;
$primary-70: #0060cd;
$primary-90: #003e82;
$primary-95: #002854;

// gray
$grayscale-0: #ffffff;
$grayscale-5: #f8f8f8;
$grayscale-10: #e4e4e4;
$grayscale-30: #c6c6c6;
$grayscale-50: #8e8e8e;
$grayscale-70: #555555;
$grayscale-90: #1d1d1d;
$grayscale-100: #000000;

// red
$danger-5: #feecf0;
$danger-10: #fcd4de;
$danger-20: #f799b1;
$danger-30: #f36689;
$danger-40: #ef3e5e;
$danger-50: #eb003b;
$danger-60: #d50136;
$danger-70: #8d0023;
$danger-80: #5e0018;
$danger-90: #2f000c;

// yellow
$warning-5: #fff8e9;
$warning-10: #ffeac1;
$warning-20: #ffe2a7;
$warning-30: #ffd47c;
$warning-40: #ffc550;
$warning-50: #ffb724;
$warning-60: #98690a;
$warning-70: #66490e;
$warning-80: #4d370b;
$warning-90: #332507;

$main-color: $primary-50;
$white: $grayscale-0;
$black: $grayscale-100;
