@import '@/styles/style.scss';
@import '@/styles/typography.scss';
@import '@/styles/variables.scss';

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 40px 0 100px;
  background-color: $white;
  box-sizing: border-box;
  border-bottom: 1.5px solid $grayscale-10;
  gap: 64px;
  user-select: none;
  max-width: 1920px;
  height: 88px;

  > .section {
    display: flex;
    flex-direction: row;

    &-logo {
      &:hover {
        cursor: pointer;
      }

      > img {
        width: 104px;
      }
    }

    &-menu {
      flex: 1;
      > .menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 64px;

        a {
          @include title-large;
          color: $grayscale-30;
          text-decoration: none;
          transition: color 0.5s;

          &.active {
            color: $main-color;
            text-decoration: none;
            font-weight: bold;
          }

          &:hover {
            color: $main-color;
          }
        }
      }
    }

    &-user {
      display: flex;
      flex-direction: row;
      gap: 16px;
      width: 345px;
      @include title-medium;

      a {
        color: $grayscale-50;
        text-decoration: none;
        transition: color 0.5s;

        &.active {
          color: $grayscale-50;
          text-decoration: none;
          font-weight: normal;
        }

        &:hover {
          cursor: pointer;
          color: $main-color;
        }
      }

      > .notify {
        position: relative;
        margin-right: 32px;

        &:hover {
          cursor: pointer;
        }

        &::before {
          content: '';
          position: absolute;
          width: 32px;
          height: 32px;
          top: 50%;
          transform: translateY(-50%);
          transition: background-image 0.3s ease-in-out;
          background-image: url('@/assets/icons/icon_notify.svg');
        }

        &:hover::before {
          background-image: url('@/assets/icons/icon_notify_active.svg');
        }
      }

      > .user-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        > .user-wrapper {
          display: flex;
          position: relative;

          &:not(:last-child)::after {
            content: '/';
            position: relative;
            color: $grayscale-50;
          }
        }
      }
    }

    &-user {
      display: flex;
      flex-direction: row;
      gap: 24px;

      > .user-left {
        display: flex;
        flex-direction: row;
        gap: 48px;
        width: 80px;

        > .icon {
          &:hover {
            cursor: pointer;
          }

          &.user,
          &.notify {
            position: relative;
          }

          &.user::before,
          &.notify::before {
            content: '';
            position: absolute;
            width: 32px;
            height: 32px;
            top: 50%;
            transform: translateY(-50%);
            transition: background-image 0.3s ease-in-out;
          }

          &.user::before {
            background-image: url('@/assets/icons/icon_user.svg');
          }

          &.user:hover::before {
            background-image: url('@/assets/icons/icon_user_active.svg');
          }

          &.notify::before {
            background-image: url('@/assets/icons/icon_notify.svg');
          }

          &.notify:hover::before {
            background-image: url('@/assets/icons/icon_notify_active.svg');
          }
        }
      }

      > .user-right {
        display: flex;
        flex-direction: row;
        align-items: center;

        > .user-container {
          display: flex;
          flex-direction: row;

          > .user-wrapper {
            display: flex;
            position: relative;

            &:not(:last-child)::after {
              content: '/';
              position: relative;
              color: $grayscale-50;
            }

            .active {
              color: $grayscale-50;
              text-decoration: none;
              font-weight: normal;
            }

            :hover {
              cursor: pointer;
              color: $main-color;
            }
          }
        }
      }
    }
  }
}
